body {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tahoma', sans-serif;

    .container {
        height: 550px;
        width: 350px;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 5px;
        background: linear-gradient(45deg, #7d00e4, #ff006a);

        .wrapper {

            img {
                position: relative;
                z-index: 100;
                margin: 30px auto;
                border-radius: 50%;
                display: block;
                height: 200px;
                width: 200px;
                object-fit: cover;
                border: 5px solid #fff;


            }

            .text {
                text-align: center;
                padding: 20px 0;
                font-size: 16px;

                .name {
                    font-size: 24px;
                    color: #fff;
                    padding: 0 0 10px 0;
                }

                .location {
                    font-size: 16px;
                    color: #fff;
                    padding: 0 0 10px 0;

                }
            }

        }

        .content {
            text-align: center;

            p {
                padding: 5px 0 20px 0;
                color: #fff;
                font-size: 16px;
            }

            .buttons {
                display: flex;

                .button {
                    height: 40px;
                    width: 130px;
                    margin: 0 auto;

                    button {
                        height: 100%;
                        width: 100%;
                        border: none;
                        outline: none;
                        font-size: 16px;
                        font-weight: 500;
                        border-radius: 5px;
                        transition: all 0.3s;
                    }

                    button:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .media {
            position: relative;
            margin-top: -500px;
            list-style: none;
            margin-left: 10px;

            li {
                height: 40px;
                width: 40px;
            }

            a {
                height: 100%;
                width: 100%;
                display: block;
                font-size: 25px;
                color: #fff;

                span {
                    position: relative;
                    transition: all 0.3s;
                }

                span:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
}