body {
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tahoma', sans-serif;

    .container {
        height: 250px;
        width: 250px;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        background: linear-gradient(45deg, #7d00e4, #ff006a);
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);

        .wrapper {

            img {
                position: relative;
                z-index: 100;
                margin: 20px auto;
                border-radius: 50%;
                display: block;
                height: 200px;
                width: 200px;
                object-fit: cover;
                border: 3px solid #fff;
                transition: all 0.3s ease;
            }

            img.active {
                height: 550px;
                width: 350px;
                margin: 0px auto;
                border: none;
                border-radius: 5px;
            }

            .text {
                text-align: center;
                padding: 20px 0;
                font-size: 16px;

                .name {
                    font-size: 24px;
                    color: #fff;
                    padding: 0 0 10px 0;
                }

                .location {
                    font-size: 16px;
                    color: #fff;
                    padding: 0 0 10px 0;

                }
            }

        }

        .content {
            text-align: center;

            p {
                padding: 5px 0 20px 0;
                color: #fff;
                font-size: 16px;
            }

            .buttons {
                display: flex;

                .button {
                    height: 40px;
                    width: 130px;
                    margin: 0 auto;

                    button {
                        height: 100%;
                        width: 100%;
                        border: none;
                        outline: none;
                        font-size: 16px;
                        font-weight: 500;
                        border-radius: 5px;
                        transition: all 0.3s;
                    }

                    button:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .media {
            position: relative;
            margin-top: -470px;
            list-style: none;


            li {
                height: 40px;
                width: 40px;
                margin-left: -100px;
                opacity: 0;
                transition: all 0.5s ease;
            }


            a {
                height: 100%;
                width: 100%;
                display: block;
                font-size: 25px;
                color: #fff;


                span {
                    position: relative;
                    transition: all 0.3s;
                }

                span:hover {
                    transform: scale(1.2);

                }
            }
        }
    }

    .container:hover {
        height: 550px;
        width: 350px;
        border-radius: 5px;
        box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);

        .media li {
            margin-left: 20px;
            opacity: 1;
        }

        .media li:nth-child(2) {
            transition-delay: 0.2s;
        }

        .media li:nth-child(3) {
            transition-delay: 0.4s;
        }
    }
}