body {
  margin: 20px;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Tahoma', sans-serif;
}

body .container {
  height: 250px;
  width: 250px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(45deg, #7d00e4, #ff006a);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
}

body .container .wrapper img {
  position: relative;
  z-index: 100;
  margin: 20px auto;
  border-radius: 50%;
  display: block;
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 3px solid #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body .container .wrapper img.active {
  height: 550px;
  width: 350px;
  margin: 0px auto;
  border: none;
  border-radius: 5px;
}

body .container .wrapper .text {
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
}

body .container .wrapper .text .name {
  font-size: 24px;
  color: #fff;
  padding: 0 0 10px 0;
}

body .container .wrapper .text .location {
  font-size: 16px;
  color: #fff;
  padding: 0 0 10px 0;
}

body .container .content {
  text-align: center;
}

body .container .content p {
  padding: 5px 0 20px 0;
  color: #fff;
  font-size: 16px;
}

body .container .content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .content .buttons .button {
  height: 40px;
  width: 130px;
  margin: 0 auto;
}

body .container .content .buttons .button button {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .container .content .buttons .button button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

body .container .media {
  position: relative;
  margin-top: -470px;
  list-style: none;
}

body .container .media li {
  height: 40px;
  width: 40px;
  margin-left: -100px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body .container .media a {
  height: 100%;
  width: 100%;
  display: block;
  font-size: 25px;
  color: #fff;
}

body .container .media a span {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

body .container .media a span:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

body .container:hover {
  height: 550px;
  width: 350px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}

body .container:hover .media li {
  margin-left: 20px;
  opacity: 1;
}

body .container:hover .media li:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

body .container:hover .media li:nth-child(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
/*# sourceMappingURL=style.css.map */